version: '3.8'

services:
  backend:
    image: ${BACKEND_IMAGE:-ngoohuuphat/mtb-backend}:latest
    container_name: mtb-backend
    env_file:
      - ./backend/.env.production
    ports:
      - "3000:3000"
    restart: unless-stopped
    networks:
      - app-net
    depends_on:
      - postgres
      - redis

  frontend:
    image: ${FRONTEND_IMAGE:-ngoohuuphat/mtb-frontend}:latest
    container_name: mtb-frontend
    depends_on:
      - backend
    ports:
      - "80:80"
    restart: unless-stopped
    networks:
      - app-net

  postgres:
    image: postgres:17
    container_name: mtb-postgres
    restart: always
    environment:
      - POSTGRES_DB=ledocinema
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=prisma
    ports:
      - "5434:5432"
    networks:
      - app-net
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: postgres -c listen_addresses='*'
    logging:
      options:
        max-size: "10m"
        max-file: "3"

  redis:
    image: redis:7-alpine
    container_name: mtb-redis
    ports:
      - "6379:6379"
    restart: unless-stopped
    networks:
      - app-net

volumes:
  postgres_data:
    driver: local

networks:
  app-net:
    driver: bridge